<h3 class="title_question"> Question </h3>
<!--
<div *ngFor="let answer of tests[testIndex].getOptions()" class="block_answer">
    <p-checkbox name="answers" value="{{answer}}" [(ngModel)]="selectedAnswers" inputId="{{answer}}"></p-checkbox>
    <label class="block_answer_title" for="{{answer}}">{{answer}}</label>
</div>

<div class="block_btn">
  <p-button *ngIf="tests.length - 1 > testIndex" label="Next" (onClick)="next()"></p-button>
  <p-button label="Finish" (onClick)="finish()"></p-button>
</div>
-->